<<<<<<< HEAD
=======
@import "tailwindcss";


>>>>>>> 9f211d1aeb33834ff04537d40e6a70ce8798598b
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
<<<<<<< HEAD
}
body,html{
  background-color: black;
   color: aliceblue;
   font-size: large;
  width: 100%;
  height: 100%;

}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:20px 40px;
  background-color: aqua;
}
.nav div{
  display: flex;
  align-items: center;
  gap: 40px;
}
=======

}
html,body{
  height: 100%;
  width: 100%;

}


>>>>>>> 9f211d1aeb33834ff04537d40e6a70ce8798598b
